body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: url('../dist/img/mainpage.jpg')  fixed ;
    background-size: cover;
    background-repeat: no-repeat;
  
}
.Navv{
    border:0.02rem solid rgb(192, 188, 188);
    background: white;
}
main{
    margin-top: 100px;
    
}
.logo-first {
    color: #5cb85c;
    font-weight: bold;
}

.logo-last {
    color: #0275d8;
    font-weight: bold;
}

a{
    font-size : 2rem;
    color: rgb(85, 85, 219);
    padding-left: auto;
    display: block;
    
}
a:hover {
    cursor: pointer;
    color: rgb(10, 27, 99);
    text-decoration: none;
}

.cho{
    font-family: 'East Sea Dokdo', cursive;
}

#Account{
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    color: rgb(0, 0, 0);

}



#blank{
    margin-top: 100px; 
}

@media screen and (max-width:576px) {
    #blank{
        margin-top: 150px; 
    }
}

#post-list{
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    color: rgb(0, 0, 0);
}

.str_bef{
    background: rgba(214, 212, 212, 0.6);
    margin:0px;
    
}

.form-control{
    margin:0px auto;
}

#content{
    display: block;
    font-size: 2rem;
    white-space: pre-wrap;
    word-wrap: break-word!important; 
    word-break: normal !important;
    width: 100%;
    background: rgba(214, 212, 212, 0.6);
    margin:0px;
}

#comment{
    color:blue;
    font-size: 2rem;
}