body{  
  background: url('../dist/img/indexbackground.jpg') center center fixed no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  margin:0px;
  padding:0px;
  font-family: 'Courgette', cursive;
  font-size: 16px;
}

#btnSignUp{
  background: orangered;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  display: inline;
  justify-content: center;
  align-self: center;
  color:white;
}
h4{
  text-align: left;
  display: inline;
}

button:hover{
  cursor: pointer;

}

h3{
  display: inline;
}

p{
    font-size:60px;
    justify-content: center;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5), 0 0 1rem rgba(0, 0, 0, 0.7);
    font-family: 'Courgette', cursive;
    color: rgb(58, 53, 53);
    margin-top:50px;
}

#signin{
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: fixed;
    margin-right: fixed;
    border-style: inset;
    border: 21px rgb(170, 147, 147);

    background: rgba(252, 251, 251, 0.5);
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
@-webkit-keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
  }

@media screen and (max-width:730px) {
    img{
        height:150px;
        width: 150px;
    }
}
#date{
    font-size:30px;
    justify-content: center;
    text-shadow: none;
    font-family: 'Courgette', cursive;
}
