body {

    font-size: 16px;
    background: url('../dist/img/mainpage.jpg')  fixed ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.Navv{
    border:0.02rem solid rgb(192, 188, 188);
    background: white;
}

.logo-first {
    color: #5cb85c;
    font-weight: bold;
}

.logo-last {
    color: #0275d8;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
    color: rgb(10, 27, 99);
    text-decoration: none;
}

.cho{
    font-family: 'East Sea Dokdo', cursive;
    font-size : 2rem;
    color: rgb(85, 85, 219);
    padding-left: auto;
    display: block;
}

#Account{
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    color: rgb(0, 0, 0);

}



#blank{
    margin-top: 100px; 
}

@media screen and (max-width:576px) {
    #blank{
        margin-top: 150px; 
    }
}

#ad{
    float:left;
    background:#66CCCC; /*背景顏色*/
    color:#FFFFFF; /*文字顏色*/
    border:2px solid #336699;
    
    width:25%; /*寬度*/
}

#post_list{
    color: white;
    size: 1rem;
    padding-left:0px;
}

.str_bef{
    background: rgba(214, 212, 212, 0.6);
}



