body{

    font-size: 16px;
    background: url('../dist/img/profilebg.jpg') center center fixed no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

#Account{
    margin-top: 10%;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    color: rgb(236, 19, 12);


}

.user{
    color: rgb(236, 19, 12);
    size:1.2rem;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
    color: rgb(10, 27, 99);
    text-decoration: none;
}

.form-control{
    width:200px;
    margin:0px auto;
}

.Navv{
    border:0.02rem solid rgb(192, 188, 188);
    background: white;
}

.logo-first {
    color: #5cb85c;
    font-weight: bold;
}

.logo-last {
    color: #0275d8;
    font-weight: bold;
}
.cho{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 2rem;
}

button{
    background:#f8f8f8;
    color: #0275d8;
    border-radius: 888px;
    margin-top: 0px;
    font-weight: bold;
}

.mid{
    margin:0px auto;
    text-align: center;
    align-items: center;
}
#blank{
    margin-top: 100px; 
}

@media screen and (max-width:576px) {
    #blank{
        margin-top: 150px; 
    }
}