body{
    font-size: 16px;
    background: url('../dist/img/releasebg.jpg') center center fixed no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}
.area{
    margin-top: 100px;
}
p{
    margin:0px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    
}
.form-control{
    width:50%;
}

.Navv{
    border:0.02rem solid rgb(192, 188, 188);
    background: white;
}

.logo-first {
    color: #5cb85c;
    font-weight: bold;
}

.logo-last {
    color: #0275d8;
    font-weight: bold;
}

.cho{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 2rem;
}


a{
    font-size : 2rem;
    color: rgb(85, 85, 219);
    padding-left: auto;
    display: block;
    
}
a:hover {
    cursor: pointer;
    color: rgb(10, 27, 99);
    text-decoration: none;
}

#blank{
    margin-top: 100px; 
}

@media screen and (max-width:576px) {
    #blank{
        margin-top: 150px; 
    }
}